.passwords-container {
  max-width: 95vw;
  width: 90%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  animation: fadeIn 1s ease-in-out;
}

.passwords-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideIn 0.5s ease-in-out;
}

#myPasswordSearch {
  max-width: 50%;
  width: 20%;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(150, 150, 200);
}

.passwords-add-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 20px;
}

.passwords-add-button:hover {
  background-color: aqua;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
}

.passwords-heading {
  font-size: 1.63rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.passwords-list {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
  animation: fadeIn 1s ease-in-out;
}

.passwords-list-item {
  flex: 1 1 calc(24% - 1rem);
  margin: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: antiquewhite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: slideUp 0.5s ease-in-out forwards;
}

.passwords-list-item h4 {
  margin: 0 0 0.5rem 0;
}

.passwords-list-item a {
  margin: 0 0 0.5rem 0;
  flex: 1;
}

.passwords-icons {
  display: flex;
  align-items: center;
}

.passwords-icons a {
  flex: 1;
}

.passwords-list-item svg {
  margin-right: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.passwords-list-item svg:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .passwords-list-item {
      flex: 1 1 calc(45% - 2rem);
  }
}

@media (max-width: 480px) {
  .passwords-list-item {
      flex: 1 1 calc(100% - 2rem);
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
